
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.kicad_pcb-bak
*.kicad_pcb-bak
*.bak
fp-info-cache

**/.vscode
*.sch-bak
*.bck
ControllerCircuit/ControllerCircuit-cache.lib
ModuleV400/v4-cache.lib
ModuleV400/v4-rescue.lib
ModuleV421/ModuleV421-cache.lib
ModuleV421/ModuleV421-rescue.lib
ControllerCircuit/_autosave-ControllerCircuit.kicad_pcb
